{% extends 'wrapper.html' %}

{% block title %}
    Qavatlar
{% endblock title %}

{% block content %}



<div class="page-heading" style="margin-top: -85px;">
    <h3 class="text-uppercase">{{ accommadation.title }} </h3>
</div> 
<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" class="btn icon icon-left btn-primary" data-bs-toggle="modal" data-bs-target="#inlineFormFloor"><span class="fa-fw select-all fas"></span> Qavat qo'shish</a></li>
  </ol>
</nav>
<div class="page-content"> 


        <div class="row">
            {% for f in floors %}
          <div class="col-md-4">
            <a href="{% url 'main:control-room' f.id %}">
                <div class="card ">
                    <div class="the-icon stats-icon green  mb-3 mx-auto">
                        <span class="fa-fw select-all fas text-white" style="transform: rotate(90deg);"></span>
                    </div>
                    <h4 class="text-center">{{ f.title }}</h4>
                </div>
            </a>
          </div>
          {% endfor %}

        </div>


          <!-- modal create -->

          <div class="modal fade text-left" id="inlineFormFloor" tabindex="-1" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Qavat qo'shish</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="border-radius:0px; font-size:34px;">
                                <i class="fa-fw select-all fas" ></i>
                        </button>
                    </div>
                    <form action="{% url 'main:control-floor' accommadation.id  %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            
                            <label for="password">Qavat nomi: </label>
                            <div class="form-group mt-2">
                                <input id="floor" type="text" placeholder="Qavat nomi" class="form-control" name="floor_title" required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Orqaga</span>
                            </button>
                            <button type="submit" class="btn btn-primary ms-1" >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Saqlash</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
      
        <!-- modal create -->


    
</div>

<style>
    .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 10px 18px 10px;
    cursor: pointer;
    }
    
    .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    
    .card h4{
      font-weight: 700;
    }
    

    
    
    
    @media(max-width: 990px){
      .card{
        margin: 20px;
      }
    } 
</style>




{% endblock content %}